<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create a Shadowelf</title>
    <link rel="stylesheet" th:href="@{/css/rpg.css}">
</head>
<body>
  <form action="#" th:action="${shadowelf.id == null} ? @{/shadowelf/createform} : @{/shadowelf/updateform}" method="post" th:object="${shadowelf}">
    <input type="hidden" th:field="*{id}" />
    <div class="card">
        <br><br><br><br><br>
        <h2>Create Shadowelf</h2>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Name</label>
              <input type="text" th:field="*{name}" />
            </div>
          </div>
      
          <div class="col">
            <div class="form-group">
              <label>Age</label>
              <input type="text" th:field="*{age}" />
            </div>
          </div>
      
          <div class="col">
            <div class="form-group">
              <label>Sex</label>
              <input type="text" th:field="*{sex}" />
            </div>
          </div>
      
          <div class="col">
            <div class="form-group">
              <label>Health</label>
              <input type="text" th:field="*{Health}" />
            </div>
          </div>
      
          <div class="col">
            <div class="form-group">
              <label>Mana</label>
              <input type="text" th:field="*{Mana}" />
            </div>
          </div>
  
          <div class="col">
            <div class="form-group">
              <label>Stamina</label>
              <input type="text" th:field="*{Stamina}" />
            </div>
          </div>
  
          <div class="col">
            <div class="form-group">
              <label>Destruction-Bonus</label>
              <input type="text" th:field="*{destructionBonus}" />
            </div>
          </div>
  
          <div class="col">
            <div class="form-group">
              <label>Alteration-Bonus</label>
              <input type="text" th:field="*{alterationBonus}" />
            </div>
          </div>
      
          <div class="col">
            <input type="submit" value="Submit">
          </div>
        </form:form>
        </div>
      </div>  
</body>
</html>