<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <table>
            <tr th:each="choice : ${choice}">
                <td th:text="${choice.choiceOptionNumber}"></td>
                <td th:text="${choice.choiceText}"></td>
                <td th:text="${choice.response}"></td> 
                <td><button class="delete-button" th:data-id="${choice.Id}">Delete</button></td>
            </tr>
            <div id="loadstuffhere"></div>
        </table>
        <script type="text/javascript">
            var listOfDeleteButtons = document.getElementsByClassName("delete-button");
            for(let buttonIndex = 0; buttonIndex < listOfDeleteButtons.length; buttonIndex++) {
                listOfDeleteButtons[buttonIndex].onclick = function() {
                    // Creates an object to send request to web server
                    var xhr = new XMLHttpRequest();

                    // Define the request method and url
                    xhr.open("DELETE", "http://localhost/choice/deleteform/" + this.dataset.id);

                    // Set header
                    xhr.setRequestHeader("Accept", "application/json");

                    // Set a function to run on state state change
                    xhr.onreadystatechange = function () {
                        // state == 4
                        if (xhr.readyState === 4) {
                            // Log out the status and response to the console
                            console.log(xhr.status);
                            console.log(xhr.responseText);
                            // inject the resposne text into the html tag with id "loadstuffhere"
                            document.getElementById("loadstuffhere").innerText = xhr.responseText;
                        }
                    };

                    // Send the request
                    xhr.send();
                }
            }
        </script>
    </body> 

</html>