<!DOCTYPE html>
<html>

<head>
	<title>Cealasia</title>
	<link href="/css/inventory.css" type="text/css" rel="stylesheet">
	<!-- <link rel="stylesheet" th:href="@{/css/homes.css}"> -->
</head>

<body>
	<form action="#" th:action="@{/indexTwo}"></form>

	<header>
		<div class="wrap">Inventory </div>
	</header>

	<div class="layout wrap">
		<div class="card card-a">
			<div class="image-container">
				<svg class="shadow" viewBox="0 0 156 73" fill="none" xmlns="http://www.w3.org/2000/svg">
					<ellipse id="shadow" cx="78" cy="36.5" rx="78" ry="36.5" fill="#07123C" fill-opacity="0.19" />
				</svg>
				<img alt="Jack O Lantern" src="images/jack_o_lantern.png" />
			</div>
			<span class="item-title">Helmet</span>
		</div>

		<div class="card card-b">
			<div class="image-container">
				<svg class="shadow" viewBox="0 0 156 73" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use href="#shadow" />
				</svg>
				<!-- <img class="large" alt="Sword" src="https://assets.codepen.io/21542/Sword.4x.png" /> -->
				<p>None</p>
			</div>
			<span class="item-title">Weapon</span>
		</div>

		<div class="card card-c">
			<div class="image-container">
				<!-- <img alt="Shield" src="https://assets.codepen.io/21542/Shield.4x.png" /> -->
				<p>None</p>
				<svg class="shadow" viewBox="0 0 156 73" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use href="#shadow" />
				</svg>
			</div>
			<span class="item-title">Cloak</span>
		</div>
		<div class="card card-d">
			<div class="image-container">
				<svg class="shadow" viewBox="0 0 156 73" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use href="#shadow" />
				</svg>
				<!-- <img alt="Hat" src="https://assets.codepen.io/21542/Hat.2x.png" /> -->
				<p>None</p>
			</div>
			<span class="item-title">Armor</span>
		</div>

		<div class="card card-e">
			<div class="image-container">
				<svg class="shadow" viewBox="0 0 156 73" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use href="#shadow" />
				</svg>
				<!-- <img alt="Box" src="https://assets.codepen.io/21542/Box.2x.png" /> -->
				<p>None</p>
			</div>
			<span class="item-title">Boots</span>
		</div>

		<div class="card card-f">
			<div class="image-container">
				<svg class="shadow" viewBox="0 0 156 73" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use href="#shadow" />
				</svg>
				<!-- <img alt="Banana" src="https://assets.codepen.io/21542/Banana.2x.png" /> -->
				<p>None</p>
			</div>
			<span class="item-title">Health Potion</span>
		</div>

		<div class="card card-g">
			<div class="image-container">
				<svg class="shadow" viewBox="0 0 156 73" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use href="#shadow" />
				</svg>
				<!-- <img alt="Gem" src="https://assets.codepen.io/21542/Gem.2x.png" />    -->
				<p>None</p>
			</div>
			<span class="item-title">Mana Potion</span>
		</div>
		<div class="card card-h">
			<div class="image-container">
				<!-- <img alt="Purple Rock" src="https://assets.codepen.io/21542/PurpleRock.2x.png" /> -->
				<p>None</p>
				<svg class="shadow" viewBox="0 0 156 73" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use href="#shadow" />
				</svg>
			</div>
			<span class="item-title">Currency</span>
		</div>

	</div>
	<a href="/indexTwo">
		<button>Back</button>
	</a>

</body>

</html>