<!DOCTYPE html>
<html lang="en">
<head>
  <title th:text=" ${shadowelf.name} + ' appears!'"></title>
    <link rel="stylesheet" th:href="@{/css/rpg.css}">
</head>

<body>
  <div class="card">
    <h2>Created A Shadowelf</h2>
    <div class="row">
      <div class="col">
        <!-- <div class="form-group"> -->
          <label>Name:</label>
          <span th:text="${shadowelf.name}"></span>
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>Age:</label>
          <span th:text="${shadowelf.age}"></span>
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>Sex:</label>
          <span th:text="${shadowelf.sex}"></span>
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>Health:</label>
          <span th:text="${shadowelf.Health}"></span>
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>Mana:</label>
          <span th:text="${shadowelf.Mana}"></span>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label>Stamina:</label>
          <span th:text="${shadowelf.Stamina}"></span>
        </div>

        <div class="col">
          <div class="form-group">
            <label>Destruction-Bonus:</label>
            <span th:text="${shadowelf.destructionBonus}"></span>
          </div>

          <div class="col">
            <div class="form-group">
              <label>Alteration-Bonus:</label>
              <span th:text="${shadowelf.alterationBonus}"></span>
            </div>
      </div>
</body>   
</html>




