<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cealasia</title>
    <link rel="stylesheet" th:href="@{/css/startup.css}">
</head>
    <body>
        <form action="#" th:action="@{/indexTwo}">
        

        <div class="form">
            <div class="title">Cealasia</div>
            <div class="subtitle">Click Start To Begin!</div>
            <!-- <tr>
                <td>
                    <a href="/indexTwo" id="backbtn" class="nes-btn is-primary">Back</a>
                </td>
            </tr> -->
            <br>
            <button <a href="/indexTwo" id="backbtn" class="nes-btn is-primary">Start</a></button>
          </div>
        
    </body>
</html>